<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">
      Signup Form
    </h5>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-6">
            <label>First Name</label>
            <input type="text" class="form-control" 
            formControlName="firstname"
            [ngClass]="{'is-invalid': submitted && registerForm.controls.firstname.errors }"
            />
            <div *ngIf="submitted && hello.firstname.errors" class="text-warning">
              <div *ngIf="hello.firstname.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input 
            formControlName="lastname"
            [ngClass]="{'is-invalid': submitted && registerForm.controls.lastname.errors }"
            type="text" class="form-control" />
            <div *ngIf="submitted && hello.lastname.errors" class="text-warning">
              <div *ngIf="hello.lastname.errors.required">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input 
          formControlName="email"
          [ngClass]="{'is-invalid': submitted && registerForm.controls.email.errors }"
          type="text" class="form-control" />
          <div *ngIf="hello.email.touched && hello.email.errors" class="text-warning">
            <div *ngIf="hello.email.errors.required">Email is required</div>
            <div *ngIf="hello.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <ng-container *ngIf="hello.email.touched && hello.email.errors">
          <div *ngIf="hello.email.errors.required" class="text-danger">
            Value is required.
          </div>
        </ng-container>
        <div class="form-row">
          <div class="form-group col">
            <label>Password</label>
            <input 
            formControlName="password"
            [ngClass]="{'is-invalid': submitted && registerForm.controls.password.errors }"
            type="password" class="form-control" />
            <div *ngIf="hello.password.touched && hello.password.errors" class="text-warning">
              <div *ngIf="hello.password.errors.required" >Password is required</div>
              <div *ngIf="hello.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input
            formControlName="confirmpassword"
            [ngClass]="{'is-invalid': submitted && registerForm.controls.confirmpassword.errors }"
            type="password" class="form-control" />
            <div *ngIf="hello.confirmpassword.touched && hello.confirmpassword.errors" class="text-warning">
              <div *ngIf="hello.confirmpassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="hello.confirmpassword.errors.mustmatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input 
          formControlName="acceptTandC"
          [ngClass]="{'is-invalid': submitted && registerForm.controls.acceptTandC.errors }"
          type="checkbox" id="acceptTerms" class="form-check-input" />
          <label for="acceptTerms" class="form-check-label"
            >Accept Terms & Conditions</label
          >
          <div *ngIf="submitted && hello.acceptTandC.errors" class="text-warning">
            Accept Ts & Cs is required
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-lg px-4 mr-3">Register</button>
          <button class="btn btn-warning" type="reset" (click)="onReset()">
            Reset
          </button>
          <p class="text-white">Value: {{ registerForm.value | json }}</p>
          <p class="text-white">Value: {{ registerForm.valid | json }}</p>
        </div>
      </form>
    </div>
  </div>
</div>